@import './base/variables';
@import './base/reset';

@import './components/OldLanding/oldNavBar';
@import './components/OldLanding/pageStyles';
@import './components/OldLanding/textButton';
@import './components/Header/header';
@import './components/Avatar/avatar';
@import './components/StackedCards/stackedCard';
@import './components/StackedCards/stackedCards';
@import './components/Tag/tagStyles';
@import './components/AuthModal/authModal';
@import './components/AuthModal/authForm';
@import './components/ToggleButton/toggleButton';
@import './components/CustomButton/customButton';
@import './components/PostWriter/postWriter';
@import './pages/LandingPage/landingPage';
@import './pages/Questions/questions';
@import './components/QuestionPreview/questionPreview';
@import './components/QuestionsFilterModal/questionsFIlterModal';
@import './components/QuestionsPagination/questionsPagination';
@import './components/Footer/footer';
@import './components/TooltipDescription/tooltipDescription';


@font-face {
    font-family: 'MS Sans Serif';
    src: url('../../assets/fonts/ms_sans_serif.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

