.questions-container {
    overflow-x: hidden;

    .questions-inner-container {
        display: flex;
        align-items: baseline;
        font-family: $montserratFont;
        

        .questions-area {
            height: 869px;
            width: 65%;
            padding: 41px 60px;
            overflow-y: auto;

                        
            &::-webkit-scrollbar {
                width: 12px; 
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1; 
            }

            &::-webkit-scrollbar-thumb {
                background: #888; 
                border-radius: 10px; 
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555; 
            }

            &::-webkit-scrollbar-button {
                display: none; 
            }

            .questions-title {
                display: flex;
                justify-content: space-between;
                
    
                h1 {
                    font-size: 40px;
                    font-weight: 600;
                    color: $eerieBlack;
                }
            }

            .category-selection {
                margin-top: 30px;
                width: 100%;
                border-bottom: 1px solid $dimGray;
                display: flex;
                gap: 32px;
                padding: 0px 10px;
                a {
                    text-decoration: none;
                    color: $dimGray;
                    font-size: 20px;
                    font-weight: 300;
                    font-family: $hindFont;
                    position: relative; 
            
                    &:hover,
                    &:focus,
                    &:active {
                        color: $primaryColor; 
                    }
            
                    &:hover::after,
                    &:focus::after,
                    &:active::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -5px; 
                        width: 100%;
                        height: 5px; 
                        background-color: $primaryColor; 
                    }
                }
            }
            .questions-list {
                margin-top: 23px;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }

        .right-side {
            display: flex;
            flex-direction: column;
            width: 35%;

            .topics-area {
                padding-bottom: 83px;
                border-bottom: 1px solid #C9C9C9;
                

                .recommended-topics {
                    width: 382px;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    margin-left: 67px;
                    

                    .tag-group {
                        width: 364px;
                        height: 70px;
                        display: flex;
                        flex-wrap: wrap;
                        align-content: flex-start;
                        

                        .tag-list {
                            display: flex;
                            flex-wrap: wrap;
                            
                        }
                    }

                    span {
                        font-family: $hindFont;
                        font-size: 16px;
                        font-weight: 400;
                        color: $tertiaryColor;
                        line-height: 20px;
                    }


                }
            }

            .custom-filters {
                margin-left: 67px;
                margin-top: 23px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                span {
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    font-family: $hindFont;
                    font-size: 16px;
                    font-weight: 400;
                    color: $tertiaryColor;
                    line-height: 20px;
                    cursor: pointer;
                }
            }
        }

    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }
    
    .modal-content {
        background: white;
        width: 300px;
        height: 300px;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
    
    
}

@media (max-width: 1000px) {
    .questions-container {
        .questions-area {
            width: 100%!important;
            padding: 20px 30px!important;
        }

        .right-side {
            display: none!important;
        }
    }
}



