@use '../../base/variables' as *;


.pagination {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
    padding: 20px 0px 20px 60px;
    width: 600px;
    overflow: hidden;
    user-select: none;

    .pagination-dots {
        img {
            display: flex;
            justify-content: center;
        }
    }

    .pagination-button {
        display: flex;
        align-items: center;
        justify-content: centerBOm o;
        font-family: $montserratFont;
        width: 20px;
        height: 20px;

        .pagination-control {
            font-family: $mainFont;
            margin-right: 11px;
            font-size: 20px;
        }

        &.active {
            padding: 2px 4px;
            border-radius: 2px;
        }
    }
}

@media (max-width: 1000px) {
    .pagination {
        width: 100%;
        padding: 20px 0px 20px 20px;
    }
}



@media (max-width: 600px) {
    .pagination {
        width: 100%;
        padding: 50px 107px;

    }
}



@media (max-width: 400px) {
    .pagination {
        width: 100%;
        padding: 40px 0px 40px 80px;

    }
}

