@use '../../base/variables' as *;

.custom-button {
    border-radius: 8px;
    border: none;
    font-family: $hindFont;
    display: flex;
    align-items: center;

    .custom-button:hover {
        transform: scale(1.05);
        transition: transform 0.2s ease;
    }
}


