@use "../../base/variables" as *;

.section-container {
  width: 100%;
  border: 1px solid #c7c7c7;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    font-family: $hindFont;
    font-weight: 500;
    font-size: 16px;
    color: $eerieBlack;
    line-height: 130%;
  }

  p {
    color: $dimGray;
    font-family: $hindFont;
    font-size: 14px;
    font-weight: 400;
  }

  .content {
    border-top: 1px solid $frenchGray;

    padding: 15px 0px;
  }
}
