@use "../../base/variables" as *;

.auth-form {
  width: 286px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $hindFont;

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .password-input-wrapper {
      position: relative;
      width: 100%;
      display: flex;
      .toggle-password-visibility {
        position: absolute;
        right: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        color: #666;
        display: flex;
        align-items: center;

        &:hover {
          color: #000;
        }
      }

      .capslock-indicator {
        font-size: 13px;
        color: #d97706; // amber
        margin-top: 0.25rem;
      }
    }
  }

  .input-wrapper .btn-link {
    color: $secondaryColor;
    align-self: flex-end;
    font-size: 10px;
  }

  .input-wrapper .info-text {
    font-size: 14px;
    color: $dimGray;
    text-align: center;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  section label {
    font-size: 16px;
  }

  section input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    color: black;
    width: 100%;
    border-radius: 8px;
    border: 1px solid $frenchGray;
    padding: 10px 14px;
    &::placeholder {
      color: $frenchGray;
    }
  }

  .btn-submit {
    width: 100%;
    height: 36px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    background-color: $tertiaryColor;
    color: $whiteBase;
    font-size: 16px;
  }
}
