.askAquestion-container {
    .askAquestion-wrapper {
        width: 100%;
        display: flex;
        gap: 20px;

        .left-side {
            padding: 30px 0px 60px 60px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 69.30%;

            .hide-on-larger-screens {
                display: none;
            }
            

            h1 {
                font-size: 40px;
                font-family: $montserratFont;
                font-weight: bold;
            }

            h6 {
                font-family: $hindFont;
                font-size: 16px;
                font-weight: 500;
                color: $eerieBlack;
            }

            p {
                font-family: $hindFont;
                font-size: 14px;
                color: $dimGray;
            }

            .title-area {
                border: 1px solid #C7C7C7;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 20px;
                border-radius: 8px;

                .input-area {
                    width: 100%;
                    border: 1px solid #C7C7C7;
                    border-radius: 8px;
                    padding: 10px 14px;
                }
            }

            .question-details {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                border: 1px solid #C7C7C7;
                border-radius: 8px;
                padding: 30px 20px;
                gap: 10px;
                height: 466px;

                .postWriter-container {
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    

                    .editor-container {
                        padding: 25px;
                        height: 320px;
                    }

                    .ql-toolbar {
                        display: flex;
                        justify-content: space-between;
                        border-bottom-right-radius: 0px;
                        border-bottom-left-radius: 0px;

                        .ql-formats {
                            display: flex;
                            flex: 1;
                            justify-content: space-between;
                            width: 100%;
                        }
                    }

                    .editor-area {
                        min-height: 0;
                        .ql-editor::before {
                            font-size: 16px;
                        }
                    }

                    button {
                        font-size: 14px;
                    }

                    img {
                        width: 20px;
                        height: 15px;
                    }

                    .ql-formats {
                        .ql-bold, .ql-italic, .ql-strike {
                            width: 70px;
                        }

                        .ql-underline {
                            width: 100px;
                        }
                        

                        button {
                            width: 50px;
                            height: 38px;
                        }

                    }

                    .editor-container {
                        margin: 0;
                    }
                }
            }

            .tag-area {
                display: flex;
                flex-direction: column;
                padding: 20px;
                border: 1px solid #C7C7C7;
                border-radius: 8px;
                gap: 10px;
                
                .input-area {
                    width: 100%;
                    border: 1px solid #C7C7C7;
                    border-radius: 8px;
                    padding: 10px 14px;
                }

            }



            .revision-message {
                padding: 10px 20px;
                border: 1px solid $successColor;
                border-radius: 8px;
                background-color: #E2F9ED;
                
            }

            .submit-question {
                width: 382px;
                display: flex;
                justify-content: space-between;
            }
        }

        .right-side {
            width: 30.70%;
            padding: 100px 60px 0px 0px;
            display: flex;
            flex-direction: column;
            gap: 34px;

            .message-box {
                padding: 20px;
                border: 1px solid $successColor;
                background-color: #E2F9ED;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h1 {
                    font-family: $loraItalicFont;
                    font-style: italic;
                    font-size: 20px;
                }

                p {
                    font-family: $hindFont;
                    font-size: 14px;
                    line-height: 130%;
                    color: $onyx;
                }

                ul {
                    list-style-type: disc;
                    display: flex;
                    flex-direction: column;
                    

                    .tittle-span {
                        font-size: 16px;
                        font-family: $hindFont;
                        font-weight: 600;
                        color: $eerieBlack;
                    }

                    span {
                        color: $successColor;
                        font-weight: 500;
                    }

                    li {
                        margin-left: 25px;
                        font-size: 14px;
                        font-family: $hindFont;
                        font-weight: 300;
                        color: $eerieBlack;
                        line-height: 150%;
                    }
                }

                .imageMessage-box {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 10px 10px;

                    .text-div {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        font-family: $hindFont;
                        font-size: 14px;
                        line-height: 20px;
                    }
                    img {
                        height: 120px;
                        width: 120px;
                    }
                }
            }

            .second-box {
                padding: 0px;
                h1 {
                    font-size: 16px;
                    font-weight: 500;
                    color: $eerieBlack;
                    padding: 10px 20px 0px 20px;
                }
            }
        }
    }
}

.postWriter-container.alt .ql-toolbar {
    --scale-factor: clamp(0.5, calc((100vw - 320px) / 1600), 1);
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
    gap: calc(10px * var(--scale-factor));
}

.postWriter-container.alt .ql-toolbar .ql-formats {
    display: flex;
    flex-wrap: nowrap;
    gap: calc(10px * var(--scale-factor));
}

.postWriter-container.alt .ql-toolbar .ql-formats button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: none;
    border: none;
    font-family: $montserratFont;
    font-size: calc(20px * var(--scale-factor));
    height: calc(64px * var(--scale-factor));
    padding: 0 calc(10px * var(--scale-factor));
}

.postWriter-container.alt .ql-toolbar .ql-formats .ql-bold,
.postWriter-container.alt .ql-toolbar .ql-formats .ql-italic {
    width: calc(100px * var(--scale-factor));
}

.postWriter-container.alt .ql-toolbar .ql-formats .ql-underline,
.postWriter-container.alt .ql-toolbar .ql-formats .ql-strike {
    width: calc(128px * var(--scale-factor));
}

.postWriter-container.alt .ql-toolbar .ql-image,
.postWriter-container.alt .ql-toolbar .ql-video,
.postWriter-container.alt .ql-toolbar .ql-link {
    width: calc(75px * var(--scale-factor));
}

.postWriter-container.alt .ql-toolbar .ql-code-block,
.postWriter-container.alt .ql-toolbar .ql-list[value="bullet"],
.postWriter-container.alt .ql-toolbar .ql-list[value="ordered"] {
    width: calc(102px * var(--scale-factor));
}

.postWriter-container.alt .separator {
    margin-left: calc(20px * var(--scale-factor));
    margin-right: calc(20px * var(--scale-factor));
}



@media (max-width: 1100px) {
    
    .askAquestion-container {
        .askAquestion-wrapper {
            .left-side {
                padding: 30px;
                width: 100%;

                .hide-on-larger-screens {
                    display: block;
                }
            }

            .right-side {
                display: none;
                
            }
        }
    }
}

