@use "../../base/variables" as *;

.main-wrapper {
  display: flex;
  flex-direction: column;
  font-family: $mainFont;
  height: 100vh;
  overflow-x: hidden;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-weight: 400;
    flex-grow: 1;

    .title {
      font-size: 96px;
    }

    .subtitle {
      font-size: 24px;
    }

    .enable-on-mobile {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .main-wrapper {
    .navbar {
      flex-direction: column-reverse;
      align-items: center;
      gap: 22px;

      padding: 40px 0px 0px 0px;
    }

    .hero {
      padding: 0px 20px;

      .hide-on-mobile {
        display: none;
      }

      .enable-on-mobile {
        display: inline;
      }

      /* criei essas classes para evitar
      adicionar estilos a uma tag inteira.*/
      main-wrapper-h1 {
        width: 251px;
        text-align: center;
        font-size: 64px;
      }

      main-wrapper-p {
        width: 300px;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 650px) and (max-width: 1440px) {
  .main-wrapper {
    .navbar {
      padding: 37px 30px;
    }

    .hero {
      .hide-on-mobile {
        display: none;
      }

      .enable-on-mobile {
        display: inline;
      }

      main-wrapper-h1 {
        width: 664px;
        text-align: center;
      }

      main-wrapper-p {
        width: 559px;
        text-align: center;
      }
    }
  }
}
