/* BASE COLORS */
$whiteBase: #ffffff;
$blackBase: #000000;

/* PRIMARY COLORS */
$primaryColor: #2dba4f; // Dark Pastel Green
$secondaryColor: #ff8e00; // Channel Orange
$tertiaryColor: #3348a4; // Violet Blue

/* SEMANTIC COLORS */
$dangerColor: #ba2d2f;
$warningColor: #f6be24;
$successColor: #1d7c4d;
$infoColor: #3062d4;
$footer: #212121;

/* BACKGROUND COLORS */
$dangerBgColor: #e6b3b4;
$warningBgColor: #fce8b0;
$successBgColor: #aed0bf;
$infoBgColor: #b4c6f0;

/* NEUTRAL COLORS */
$offWhite: #fafcfe;
$frenchGray: #c9c9c9;
$dimGray: #6c6e71;
$onyx: #323538;
$eerieBlack: #15181b;
$cardLightBlue: #c6cce6;

/* FONTS */
$mainFont: "MS Sans Serif", sans-serif;
$interFont: "Inter", sans-serif;
$montserratFont: "Montserrat", sans-serif;
$loraItalicFont: "Lora", serif;
$hindFont: "Hind", sans-serif;
