@use "../../base/variables" as *;

.profile-page-wrapper {
  width: 100%;
  min-height: 100vh;
  > img {
    position: absolute;
    width: 100%;
    height: 193px;

    @media (max-width: 650px) {
      height: 115px;
    }
  }

  .profile-details {
    padding: 88px 66px 40px 60px;
    border-bottom: 1px solid $frenchGray;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .userInfo {
      display: flex;
      flex-direction: column;
      width: 237px;
      p {
        margin-bottom: 10px;
      }

      span {
        border-radius: 4px;
        margin-bottom: 10px;
      }

      .avatarDisplay {
        width: 210px;
        height: 210px;
        border-radius: 100%;
        border: 2px solid $frenchGray;
        z-index: 10;
        display: flex;
        overflow: hidden;
        align-items: center;
        @media (max-width: 650px) {
          width: 110px;
          height: 110px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
        }
      }

      h1 {
        margin-top: 35px;
        font-size: 40px;
        font-family: $montserratFont;
        font-weight: 500;
        color: $eerieBlack;
        margin-bottom: 10px;
        text-wrap: wrap;
        @media (max-width: 650px) {
          margin-top: 22px;
          font-size: 24px;
        }
      }

      p {
        font-size: 16px;
        font-family: $montserratFont;
        font-weight: 400;
        color: $dimGray;
      }
    }

    .followersInfo {
      display: flex;
      gap: 15px;
      font-size: 16px;
      font-family: $montserratFont;
      font-weight: 400;
      color: $dimGray;

      .count {
        display: flex;
        gap: 5px;
      }
    }

    .userActions {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 382px;

      .tag-list {
        padding: 10px 5px;
        display: flex;
        justify-content: flex-end;
        width: 382px;
        position: relative;
      }

      .custom-button {
        margin: 35px 0px;
      }

      h2 {
        font-family: $montserratFont;
        font-size: 20px;
        font-weight: 400;
        color: $onyx;
        margin-bottom: 10px;
      }
    }

    @media (max-width: 650px) {
      flex-direction: column;
      padding: 60px 20px 60px 20px;

      .userActions {
        align-self: flex-end;
      }
    }
  }

  .user-posts-display {
    padding: 40px 60px;
    @media (max-width: 650px) {
      padding: 18px 30px;
    }
    @media (max-width: 450px) {
      padding: 35px 0px;

      .posts-display-header {
        padding: 0px 15px;
      }
    }

    .posts-display-header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 35px;
      p {
        font-size: 24px;
        font-family: $loraItalicFont;
      }

      .filter-select-wrapper {
        position: relative;
        width: 254px;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);

          background-image: var(--arrow-icon);
          background-repeat: no-repeat;
          background-position: center;

          width: 10px;
          height: 6px;

          pointer-events: none;
        }
      }
      .filter-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        width: 100%;
        padding: 10px 30px 10px 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #fff;
        font-size: 16px;
        cursor: pointer;

        &:focus {
          outline: none;
          border-color: $dimGray;
          box-shadow: 0 0 0 2px rgba(51, 72, 164, 0.2);
        }
      }
    }
  }
}
