@use "../../base/variables" as *;

.profile-page-wrapper {
  width: 100%;
  min-height: 100vh;
  img {
    position: absolute;
    width: 100%;
    height: 193px;

    @media (max-width: 650px) {
      height: 115px;
    }
  }

  .profile-details {
    padding: 88px 66px 40px 60px;
    border-bottom: 1px solid $frenchGray;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .userInfo {
      display: flex;
      flex-direction: column;
      width: 237px;
      p {
        margin-bottom: 15px;
      }

      span {
        padding: 5px;
        background-color: $frenchGray;
        width: fit-content;
        border-radius: 8px;
        font-family: $hindFont;
      }

      .avatarDisplay {
        width: 210px;
        height: 210px;
        border-radius: 100%;
        border: 2px solid $frenchGray;
        z-index: 10;
        display: flex;
        overflow: hidden;
        align-items: center;
        @media (max-width: 650px) {
          width: 110px;
          height: 110px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: relative;
        }
      }

      h1 {
        margin-top: 35px;
        font-size: 40px;
        font-family: $montserratFont;
        font-weight: 500;
        color: $eerieBlack;
        margin-bottom: 10px;
        text-wrap: wrap;
        @media (max-width: 650px) {
          margin-top: 22px;
          font-size: 24px;
        }
      }

      p {
        font-size: 16px;
        font-family: $montserratFont;
        font-weight: 400;
        color: $dimGray;
      }
    }

    .userActions {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 382px;

      .tag-list {
        padding: 10px 5px;
        display: flex;
        justify-content: flex-end;
        width: 382px;
        position: relative;
      }

      .custom-button {
        margin: 35px 0px;
      }

      h2 {
        font-family: $montserratFont;
        font-size: 20px;
        font-weight: 400;
        color: $onyx;
        margin-bottom: 10px;
      }
    }

    @media (max-width: 650px) {
      flex-direction: column;
      padding: 60px 20px 60px 20px;

      .userActions {
        align-self: flex-end;
      }
    }
  }
}
