@use "../../base/variables" as *;

.onboardingWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .onboarding-details {
    width: 67.9%;
    border-right: 1px solid #d9d9d9;
    background-color: #f7f7f7;
    padding: 40px 40px 40px 61px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-weight: bold;
      font-size: 32px;
      font-family: $montserratFont;
      color: $eerieBlack;
    }
    .onboarding-header {
      display: flex;
      height: fit-content;
      justify-content: space-between;
    }
  }
  .desktop-tracker {
    padding: 117px 60px 117px 20px;
    width: 32.1%;
    .MuiStepper-root {
      background: transparent;
    }
    .MuiStep-root {
      align-items: flex-start;
    }
    .MuiStepLabel-label {
      font-weight: 600;
    }
    .MuiStepConnector-line {
      border-left-style: solid !important;
    }
    .MuiStepLabel-root {
      padding: 0px !important;
    }
  }

  .profile-details {
    .profile-form {
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .input-group {
        display: flex;
        flex-direction: column;
        gap: 6px;
        label {
          font-size: 16px;
          font-family: $hindFont;
        }
        input {
          padding: 10px 14px;
          border: 1px solid #c7c7c7;
          border-radius: 8px;
          font-size: 15px;
          font-family: $hindFont;
        }

        select {
          padding: 10px 14px;
          border: 1px solid #c7c7c7;
          border-radius: 8px;
        }

        textarea {
          padding: 10px 14px;
          height: 154px;
          border: 1px solid #c7c7c7;
          border-radius: 8px;
        }
      }
    }
  }

  .socials-section {
    .social-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 21px 10px;
      border-top: 1px solid #c7c7c7;
      &:first-child {
        border-top: none;
      }
      &.one {
        border-top: none !important;
      }
      .social-title {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 44px;
          height: 44px;
        }
      }

      .social-input {
        width: 463px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        input {
          padding: 10px 14px;
          border-radius: 8px;
          width: 100%;
          border: 1px solid #c7c7c7;
        }
      }
    }
  }

  #submitButton {
    width: 342px;
    align-self: flex-end;
  }
}
